

$color-primary: #FFB798;     // Couleur pêche (Background de Section et de certaines Font)
$color-secondary: #B8D3C4;   // Couleur Menthe

$color-bg: #FFFBF6;          // Fond faux blanc
$color-white: #FFFFFF;

